@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.container-pd {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999999999999;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  .container2-pd {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .card-pd {
    display: flex;
    padding: 1.25rem;
    background-color: #ffffff;
    flex-direction: column;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.77);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.2px);
    -webkit-backdrop-filter: blur(12.2px);
    border: 1px solid rgba(255, 255, 255, 0.23);
  }

  .flex-center-pd {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .inner-pd {
    display: inline-block;
    padding: 1rem;
    background-color: #fef2f2;
    border-radius: 9999px;
  }

  .svg-icon-pd {
    color: #ef4444;
    width: 3rem;
    height: 3rem;
    fill: currentColor;
  }

  .heading-pd {
    margin-top: 0.5rem;
    color: #1f2937;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
  }

  .description-pd {
    margin-top: 0.7rem;
    color: #4b5563;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1.625;
    font-family: 'Inter', sans-serif;
  }

  .actions-pd {
    display: flex;
    margin-top: 0.75rem;
    text-align: center;
    align-items: center;
  }

  .primaryBtn-pd {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
    background-color: #ef4444;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.25rem;
    font-weight: 500;
    flex: 1 1 0%;
    border-radius: 0.375rem;
    text-align: center;
    border: none;
  }

  .primaryBtn-pd:hover {
    background-color: #dc2626;
    cursor: pointer;
  }

  .secondaryBtn-pd {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.25rem;
    font-weight: 500;
    flex: 1 1 0%;
    border-radius: 0.375rem;
    border: none;
    background-color: #f3f4f6;
    color: #ef4444;
  }

  .secondaryBtn-pd:hover {
    background-color: #e5e7eb;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    .container2-pd {
      width: 50%;
    }
  }
}

.phishing {
  color: red !important; // add color to the link (or any other desired style)
}
